.container {
  max-width: 1000px;
  margin: auto;
  padding: 50px;
}
.light {
  --nav-back: #364051;
  --expense-details: #f7f7f7;
  --expense-wrapper: white;
}
.dark {
  --nav-back: black;
  --text-colour: white;
  --expense-details: rgb(32, 29, 29);
  --expense-wrapper: rgb(43, 40, 40);
}
.navbar {
  height: 10vh;
  background-color: var(--nav-back);
  color: white;
}

.navbar .navbar-wrapper {
  height: 100%;
  width: 60%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .navbar-wrapper h1 {
  font-size: 28px;
  cursor: pointer;
}

.navbar .navbar-wrapper h3 {
  cursor: pointer;
}

/* Expense Details */
.expensedetails {
  height: 250px;
  background-color: var(--expense-details);
  color: var(--text-colour);
}

.expense-content h1 {
  margin-bottom: 30px;
  font-weight: 500;
}

.expense-content .add-expense-btn {
  padding: 15px 20px;
  border: none;
  outline: none;
  background-color: #1c88bf;
  font-size: 18px;
  color: white;
}
.expense-content .add-expense-btn:hover {
  cursor: pointer;
}

.ExpenseFilterForm {
  background-color: var(--expense-wrapper);
  color: var(--text-colour);
}

/* Filter form */
.filter-content {
  display: flex;
  justify-content: space-between;
}

.filter-content input {
  border: 1px solid #ccc;
  width: 250px;
  padding: 15px 18px;
  font-size: 18px;
  border-radius: 5px;
}

.filter-content input::placeholder {
  font-size: 18px;
}

.filter-content select {
  width: 150px;
  border: 1px solid cyan;
  padding: 0 10px;
  font-size: 18px;
}
.ExpenseWrapper {
  background-color: var(--expense-wrapper);
  color: var(--text-colour);
  height: 50vh;
}

.expense-wrapper-heading {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  color: #666;
  font-weight: 500;
}

.ExpenseItemList {
  list-style: none;
  padding: 30px;
  margin-top: -80px;
}

.expense-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  color: var(--text-colour);
  margin: 18px 0;
  border: 1px solid #ddd;
  padding: 15px;
}

.expense-item h5 {
  margin-bottom: 10px;
}

.expense-item h6 {
  font: 8px;
}
.expenseheader {
  background-color: var(--expense-details);
  color: var(--text-colour);
  width: 100%;
}
.expensecont {
  width: 47%;
  margin: auto;
  padding: 30px 0;
}
.expenseinput {
  display: block;
  width: 100%;
  margin: 10px 0;
  height: 3rem;
  padding: 0 10px;
  font-size: 1.3rem;
}
.inputwrapper {
  width: 47%;
  margin: 15px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.textarea1 {
  height: 100px;
}
.submitbtn {
  width: 12.5%;
  outline: none;
  padding: 10px;
  border: none;
  background-color: #1c88bf;
  color: white;
  font-size: 15px;
}
